In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/airbnb_clean.csv")
df.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,availability_rate
0,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,private room,149,1,9,2018-10-19,0.21,6,365,1.000000
1,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,entire home/apt,225,1,45,2019-05-21,0.38,2,355,0.972603
2,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,private room,150,3,0,NaN,0.00,1,365,1.000000
3,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,entire home/apt,89,1,270,2019-07-05,4.64,1,194,0.531507
4,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,entire home/apt,80,10,9,2018-11-19,0.10,1,0,0.000000

ðŸŸ¦ ANALYSIS #1 â€” Avg Price Based on Neighbourhood Group

In [16]:
avg_price_neighbourhood_group = df.groupby("neighbourhood_group")["price"].mean().sort_values(ascending=False).reset_index()
avg_price_neighbourhood_group = avg_price_neighbourhood_group.rename(columns={"neighbourhood_group": "Neighbourhood Group", "price": "Avg Price"})
avg_price_neighbourhood_group

  Neighbourhood Group   Avg Price
0           Manhattan  165.260382
1            Brooklyn  115.350838
2       Staten Island   96.088235
3              Queens   95.538178
4               Bronx   85.881944

ðŸŸ¦ ANALYSIS #2 â€” Room Type by Occupancy Rate (Availability Analysis)

In [25]:
room_type_occupancy_rate = (1 - df.groupby("room_type")["availability_rate"].mean()).reset_index()
room_type_occupancy_rate

         room_type  availability_rate
0  entire home/apt           0.699905
1     private room           0.694468
2      shared room           0.574380

ðŸŸ¦ ANALYSIS #3 â€” Host Listings

In [55]:
host_listings = df.groupby(["host_id", "host_name"])["name"].count().sort_values(ascending=False).reset_index().rename(columns={"host_id": "ID", "host_name": "Host Name", "name": "Listing Counts"})
host_listings

              ID       Host Name  Listing Counts
0      219517861    Sonder (NYC)             317
1      107434423      Blueground             232
2       30283594            Kara             116
3       16098958  Jeremy & Laura              96
4       12243051          Sonder              96
...          ...             ...             ...
36342  274273284       Anastasia               1
36343  274298453          Adrien               1
36344  274307600        Jonathan               1
36345  274311461           Scott               1
36346   86182721        Jennifer               1

[36347 rows x 3 columns]