In [2]:
import numpy as np
np.set_printoptions(suppress=True)

In [3]:
data = np.genfromtxt("../data/vgsales.csv", dtype=str, delimiter=",", skip_header=1, invalid_raise=False, filling_values="", missing_values="")

/var/folders/zs/whxl1fcx4671j86785g27kdr0000gn/T/ipykernel_6343/2679235569.py:1: ConversionWarning: Some errors were detected !
    Line #945 (got 12 columns instead of 11)
    Line #1093 (got 12 columns instead of 11)
    Line #1628 (got 12 columns instead of 11)
    Line #1835 (got 14 columns instead of 11)
    Line #2411 (got 12 columns instead of 11)
    Line #2890 (got 12 columns instead of 11)
    Line #2920 (got 13 columns instead of 11)
    Line #3051 (got 12 columns instead of 11)
    Line #3091 (got 14 columns instead of 11)
    Line #3218 (got 13 columns instead of 11)
    Line #3329 (got 14 columns instead of 11)
    Line #3413 (got 14 columns instead of 11)
    Line #3465 (got 13 columns instead of 11)
    Line #3525 (got 12 columns instead of 11)
    Line #3552 (got 2 columns instead of 11)
    Line #3573 (got 12 columns instead of 11)
    Line #3758 (got 12 columns instead of 11)
    Line #3906 (got 13 columns instead of 11)
    Line #3913 (got 13 columns instead of 11)
    Line #4045 (got 13 columns instead of 11)
    Line #4062 (got 13 columns instead of 11)
    Line #4182 (got 12 columns instead of 11)
    Line #4247 (got 12 columns instead of 11)
    Line #4280 (got 12 columns instead of 11)
    Line #4418 (got 13 columns instead of 11)
    Line #4458 (got 13 columns instead of 11)
    Line #4506 (got 12 columns instead of 11)
    Line #4543 (got 13 columns instead of 11)
    Line #4703 (got 13 columns instead of 11)
    Line #4768 (got 12 columns instead of 11)
    Line #4791 (got 14 columns instead of 11)
    Line #5110 (got 12 columns instead of 11)
    Line #5226 (got 12 columns instead of 11)
    Line #5524 (got 12 columns instead of 11)
    Line #5549 (got 12 columns instead of 11)
    Line #5622 (got 13 columns instead of 11)
    Line #5658 (got 12 columns instead of 11)
    Line #5689 (got 12 columns instead of 11)
    Line #5836 (got 13 columns instead of 11)
    Line #6060 (got 12 columns instead of 11)
    Line #6061 (got 12 columns instead of 11)
    Line #6197 (got 12 columns instead of 11)
    Line #6448 (got 12 columns instead of 11)
    Line #6576 (got 13 columns instead of 11)
    Line #6741 (got 12 columns instead of 11)
    Line #6830 (got 12 columns instead of 11)
    Line #7534 (got 12 columns instead of 11)
    Line #7594 (got 12 columns instead of 11)
    Line #7615 (got 12 columns instead of 11)
    Line #7755 (got 12 columns instead of 11)
    Line #7859 (got 12 columns instead of 11)
    Line #8024 (got 12 columns instead of 11)
    Line #8425 (got 13 columns instead of 11)
    Line #8661 (got 12 columns instead of 11)
    Line #8729 (got 12 columns instead of 11)
    Line #8966 (got 12 columns instead of 11)
    Line #8988 (got 2 columns instead of 11)
    Line #9006 (got 12 columns instead of 11)
    Line #9152 (got 12 columns instead of 11)
    Line #9509 (got 12 columns instead of 11)
    Line #9597 (got 12 columns instead of 11)
    Line #9688 (got 12 columns instead of 11)
    Line #9703 (got 12 columns instead of 11)
    Line #9874 (got 12 columns instead of 11)
    Line #10061 (got 12 columns instead of 11)
    Line #10204 (got 13 columns instead of 11)
    Line #10381 (got 2 columns instead of 11)
    Line #10680 (got 12 columns instead of 11)
    Line #10694 (got 12 columns instead of 11)
    Line #10731 (got 12 columns instead of 11)
    Line #10753 (got 13 columns instead of 11)
    Line #10904 (got 12 columns instead of 11)
    Line #11071 (got 12 columns instead of 11)
    Line #11280 (got 13 columns instead of 11)
    Line #11369 (got 12 columns instead of 11)
    Line #11415 (got 12 columns instead of 11)
    Line #11435 (got 12 columns instead of 11)
    Line #11487 (got 12 columns instead of 11)
    Line #11661 (got 12 columns instead of 11)
    Line #11910 (got 13 columns instead of 11)
    Line #11932 (got 12 columns instead of 11)
    Line #11942 (got 12 columns instead of 11)
    Line #12238 (got 12 columns instead of 11)
    Line #12747 (got 12 columns instead of 11)
    Line #12777 (got 12 columns instead of 11)
    Line #12862 (got 12 columns instead of 11)
    Line #12864 (got 12 columns instead of 11)
    Line #13008 (got 12 columns instead of 11)
    Line #13141 (got 12 columns instead of 11)
    Line #13184 (got 12 columns instead of 11)
    Line #13490 (got 12 columns instead of 11)
    Line #13599 (got 12 columns instead of 11)
    Line #14001 (got 14 columns instead of 11)
    Line #14072 (got 12 columns instead of 11)
    Line #14157 (got 12 columns instead of 11)
    Line #14223 (got 12 columns instead of 11)
    Line #14534 (got 13 columns instead of 11)
    Line #14590 (got 2 columns instead of 11)
    Line #14729 (got 12 columns instead of 11)
    Line #14779 (got 12 columns instead of 11)
    Line #14977 (got 12 columns instead of 11)
    Line #14986 (got 12 columns instead of 11)
    Line #15182 (got 12 columns instead of 11)
    Line #15279 (got 12 columns instead of 11)
    Line #15364 (got 12 columns instead of 11)
    Line #15482 (got 13 columns instead of 11)
    Line #15487 (got 12 columns instead of 11)
    Line #15621 (got 12 columns instead of 11)
    Line #15723 (got 12 columns instead of 11)
    Line #15790 (got 12 columns instead of 11)
    Line #15808 (got 2 columns instead of 11)
    Line #15900 (got 12 columns instead of 11)
    Line #15957 (got 12 columns instead of 11)
    Line #16062 (got 12 columns instead of 11)
    Line #16083 (got 12 columns instead of 11)
    Line #16088 (got 12 columns instead of 11)
    Line #16109 (got 2 columns instead of 11)
    Line #16150 (got 12 columns instead of 11)
    Line #16163 (got 2 columns instead of 11)
    Line #16264 (got 12 columns instead of 11)
    Line #16374 (got 12 columns instead of 11)
    Line #16411 (got 12 columns instead of 11)
    Line #16412 (got 12 columns instead of 11)
    Line #16420 (got 12 columns instead of 11)
    Line #16447 (got 12 columns instead of 11)
    Line #16462 (got 13 columns instead of 11)
    Line #16469 (got 2 columns instead of 11)
    Line #16479 (got 12 columns instead of 11)
    Line #16503 (got 13 columns instead of 11)
    Line #16566 (got 12 columns instead of 11)
  data = np.genfromtxt("../data/vgsales.csv", dtype=str, delimiter=",", skip_header=1, invalid_raise=False, filling_values="", missing_values="")

In [4]:
names = data[:, 1]
platforms = data[:, 2]
years = np.array([int(x) if x != 'N/A' else np.nan for x in data[:, 3]]) 
genres=data[:, 4]
publishers=data[:, 5]
na_sales=np.array([float(x) if x != 'N/A' else np.nan for x in data[:, 6]]) 
eu_sales=np.array([float(x) if x != 'N/A' else np.nan for x in data[:, 7]]) 
jp_sales=np.array([float(x) if x != 'N/A' else np.nan for x in data[:, 8]]) 
other_sales=np.array([float(x) if x != 'N/A' else np.nan for x in data[:, 9]]) 
global_sales=np.array([float(x) if x != 'N/A' else np.nan for x in data[:, 10]])

In [5]:
## TOP 10 BEST SELLING GAMES AS GLOBAL
top_10_idx = np.argsort(global_sales)[::-1][:10]
top_10 = [
    [str(name), str(platform), str(genre), int(year), float(g_sale)] 
    for name, platform, genre, year, g_sale in 
    zip(names[top_10_idx], platforms[top_10_idx], genres[top_10_idx], years[top_10_idx], global_sales[top_10_idx])
]

top_10.insert(0, ["Name", "Platform", "Genre", "Year", "Sale"])
top_10

[['Name', 'Platform', 'Genre', 'Year', 'Sale'],
 ['Wii Sports', 'Wii', 'Sports', 2006, 82.74],
 ['Super Mario Bros.', 'NES', 'Platform', 1985, 40.24],
 ['Mario Kart Wii', 'Wii', 'Racing', 2008, 35.82],
 ['Wii Sports Resort', 'Wii', 'Sports', 2009, 33.0],
 ['Pokemon Red/Pokemon Blue', 'GB', 'Role-Playing', 1996, 31.37],
 ['Tetris', 'GB', 'Puzzle', 1989, 30.26],
 ['New Super Mario Bros.', 'DS', 'Platform', 2006, 30.01],
 ['Wii Play', 'Wii', 'Misc', 2006, 29.02],
 ['New Super Mario Bros. Wii', 'Wii', 'Platform', 2009, 28.62],
 ['Duck Hunt', 'NES', 'Shooter', 1984, 28.31]]

In [6]:
## THE MOST POPULAR 10 PLATFORMS
unq_platforms, unq_counts = np.unique(platforms, return_counts=True)

top_10_idx = np.argsort(unq_counts)[::-1][:10]

counts = [[str(p), int(c)] for p, c in zip(unq_platforms[top_10_idx], unq_counts[top_10_idx])]

counts.insert(0, ["Platform", "Count"])
counts
print(f"The most common platform is {unq_platforms[top_10_idx][0]} with {unq_counts[top_10_idx][0]} games")

The most common platform is PS2 with 2142 games

In [7]:
## THE MOST POPULAR 10 GENRES
unq_genres, unq_counts = np.unique(genres, return_counts=True)
top_10_idx = np.argsort(unq_counts)[::-1][:10]
counts = [[str(g), int(c)] for g,c in zip(unq_genres[top_10_idx], unq_counts[top_10_idx])]
counts.insert(0, ["Genre", "Count"])
counts
print(f"The most common genre is {unq_genres[top_10_idx][0]} with {unq_counts[top_10_idx][0]} games")

The most common genre is Action with 3292 games

In [8]:
## THE AVG's of REGIONS
avg_global_sales = float(np.mean(global_sales))
avg_na_sales = float(np.mean(na_sales))
avg_eu_sales = float(np.mean(eu_sales))
avg_jp_sales = float(np.mean(jp_sales))

avgs = [avg_global_sales, avg_na_sales, avg_eu_sales,avg_jp_sales]
labels = ["Global", "NA", "EU", "JP"]
max_avg_idx = np.argmax(avgs)
sorted_avg_idx = np.argsort(np.array(avgs))[::-1]

avg_region = [[str(label), float(avg)] for label, avg in zip(np.array(labels)[sorted_avg_idx], np.array(avgs)[sorted_avg_idx])]
avg_region.insert(0,["Region", "AvgSales"])
avg_region
print(f"On average, {labels[max_avg_idx]} has the highest sales per game")

On average, Global has the highest sales per game

In [9]:
# Correlation Between Regions
def find_correlation(X, Y):
    mean_X = np.mean(X)
    mean_Y = np.mean(Y)

    centeredX = X - mean_X
    centeredY = Y - mean_Y

    normalizedX = centeredX / np.std(X)
    normalizedY = centeredY / np.std(Y)

    Z = normalizedX * normalizedY
    return np.mean(Z)


corr_regions =  np.array([
    find_correlation(na_sales, eu_sales),
    find_correlation(na_sales, jp_sales),
    find_correlation(na_sales, global_sales),
    find_correlation(eu_sales, jp_sales),
    find_correlation(eu_sales, global_sales),
    find_correlation(jp_sales, global_sales)
])
sort_idx = np.argsort(corr_regions)[::-1]

corr_labels = np.array(["NA-EU", "NA-JP","NA-Global", "EU-JP", "EU-Global", "JP-Global"])
corr_regions = [[str(label), float(cor)] for label, cor in zip(corr_labels[sort_idx], corr_regions[sort_idx])]
corr_regions.insert(0,   ["Pair", "Correlation"])

corr_regions
high_corr = corr_regions[1]
low_corr = corr_regions[-1]

def split_regions(pairs: str):
    regions = pairs.split("-")
    return f"{regions[0]} ve {regions[1]}"
print(f"{split_regions(high_corr[0])} satışları yüksek korelasyon gösteriyor ({high_corr[1]}), ancak {split_regions(low_corr[0])} arasında ilişki zayıf ({low_corr[1]}).")

NA ve Global satışları yüksek korelasyon gösteriyor (0.9410595046257471), ancak EU ve JP arasında ilişki zayıf (0.43599111042924027).

In [10]:
# Regional Contribution Ratios
mask = global_sales != 0

rates = np.array([[na/globe,eu/globe, jp/globe] for na, eu, jp, globe in zip(na_sales[mask], eu_sales[mask], jp_sales[mask], global_sales[mask])])
avgs =np.array([np.mean(rates[:, 0]),np.mean(rates[:, 1]),np.mean(rates[:,2])])
sort_idx = np.argsort(avgs)[::-1]
labels = np.array(["NA", "EU", "JP"])


contributions = [[str(label), float(rate * 100)] for label, rate in zip(labels[sort_idx], avgs[sort_idx])]
print(f"{contributions[0][0]} global satışların en büyük bölümünü oluşturuyor (~{contributions[0][1]}), {contributions[1][0]} orta seviyede katkı sağlıyor (~{contributions[1][1]}), {contributions[2][0]} ise en düşük katkıyı veriyor (~{contributions[2][1]}).")

NA global satışların en büyük bölümünü oluşturuyor (~45.54877930681806), JP orta seviyede katkı sağlıyor (~24.184750988237003), EU ise en düşük katkıyı veriyor (~22.955672100485323).

In [11]:
#Yearly Sales Trend
cleaned_years = years[~np.isnan(years)]

unq_years = np.sort(np.unique(cleaned_years))
sales = [[int(year), float(sum(global_sales[years == year])), float(sum(na_sales[years == year])),float(sum(eu_sales[years == year])),float(sum(jp_sales[years == year]))] for year in unq_years]
sales.insert(0, ["Year", "Global", "NA", "EU", "JP"])
global_sale_sums = np.array(sales)[1:, 1].astype(np.float64)
max_idx = np.argmax(global_sale_sums)
peak_year = int(np.array(sales)[1:,0][max_idx])
print(f"Video oyun satışları {peak_year} civarında zirve yapmış, ardından yıllar içinde belirgin şekilde düşüş göstermiştir.")

Video oyun satışları 2008 civarında zirve yapmış, ardından yıllar içinde belirgin şekilde düşüş göstermiştir.

In [12]:
# Genre Avg Sales
unq_genres = np.array(np.unique(genres))
genre_sale_avgs = np.array([np.mean(global_sales[genres == genre]) for genre in unq_genres])
sort_idx = np.argsort(genre_sale_avgs)[::-1]
genre_performance = [[str(genre), float(performance)] for genre, performance in zip(unq_genres[sort_idx], genre_sale_avgs[sort_idx])]
genre_performance.insert(0, ["Genre", "Avg Sale"])
print(f"{genre_performance[1][0]} en yüksek ortalama satışa sahip genre, ardından {genre_performance[2][0]} ve {genre_performance[3][0]} geliyor.")

Platform en yüksek ortalama satışa sahip genre, ardından Shooter ve Role-Playing geliyor.

In [13]:
#Publisher Performance Matrix
unq_publishers, total_game_count = np.unique(publishers, return_counts= True)
mask_global = global_sales > 1.0
hit_ratios = [
    [   str(pub), 
        int(np.sum(mask_global & (publishers == pub))),
        int(total),
        float(np.sum(mask_global & (publishers == pub)) / total) 
    ]
    for pub, total in zip(unq_publishers, total_game_count)
]
#hit_ratios.insert(0, ["Publisher", "Hit_Count", "Total_Count", "Hit_Ratio"])
hit_ratios

genres_publishers = []
for pub in unq_publishers:
    genres_each_pub, counts = np.unique(genres[publishers == pub], return_counts = True)
    max_id = np.argmax(counts)
    mask_publisher = publishers == pub
    mask_genre = genres == genres_each_pub[max_id]
    ratio = sum(global_sales[(mask_genre & mask_publisher)]) / sum(global_sales[mask_publisher])
    genres_publishers.append([str(pub), str(genres_each_pub[max_id]), int(counts[max_id]), float(ratio)])
genres_publishers
performance = [
    [
        *hit_row,                # Publisher, Hit_Count, Total, Hit_Ratio
        *genre_row[1:]           # Top_Genre, Genre_Count, Spec_Ratio
    ]
    for hit_row in hit_ratios
    for genre_row in genres_publishers
    if hit_row[0] == genre_row[0]
]
pub, hit_count, total, hit_ratio, top_genre, genre_count, spec_ratio = max(performance, key=lambda row: row[6])
performance.insert(0, ["Publisher", "Hit Count", "Total", "Hit Ratio","Top Genre","Genre Count", "Spec Ratio"])
print(f"{pub} en uzmanlaşmış publisher. Ana genre'ı '{top_genre}', "
      f"ve satışlarının %{spec_ratio * 100:.2f}'i bu genre'dan geliyor.")

2D Boy en uzmanlaşmış publisher. Ana genre'ı 'Puzzle', ve satışlarının %100.00'i bu genre'dan geliyor.

In [14]:
# Platform Lifetime Sales Analysis
unq_platforms = np.unique(platforms)
stats = []
for platform in unq_platforms:
    pl_mask = platforms == platform
    sale_sum = np.sum(global_sales[pl_mask])
    sale_avg = np.mean(global_sales[pl_mask])

    all_years = years[pl_mask]
    unq_years = np.unique(all_years)
    
    all_sales = [sum(global_sales[years == y]) for y in unq_years]
    max_id = np.argmax(all_sales)

    peak_year = unq_years[max_id]
    stats.append([str(platform), int(peak_year), int(sale_sum), float(sale_avg)])

platform, peak_year,sale_sum, sale_avg  = max(stats, key=lambda row: row[2])
print(f"{platform} lifetime satışlarda en başarılı platformdur. Zirve yılı {peak_year} ve toplam {sale_sum} satışa ulaşmıştır."
)

PS2 lifetime satışlarda en başarılı platformdur. Zirve yılı 2008 ve toplam 1250 satışa ulaşmıştır.